<div class="relative !flex w-full" mat-dialog-title>
  <p>{{ title | translate }} {{ itemInfo }}</p>
  <span
    class="cursor-pointer absolute right-8 hover:shadow-sm"
    mat-dialog-close=""
    >x</span
  >
</div>

<div mat-dialog-content>
  <p>{{ message | translate }}</p>
  <ng-content></ng-content>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button (click)="sendResult(false)">
    {{ "app.cancel.text" | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="sendResult(true)">
    {{ "app.confirm.text" | translate }}
  </button>
</div>
