<div class="relative w-full py-4 px-2 flex items-center justify-center">
  <span
    *ngIf="canGoToOverviewSignout()"
    class="absolute left-4 text-white cursor-pointer hover:underline"
    tabindex="0"
    (click)="goToOverview()"
    >{{ "app.navigation.overview.text" | translate }}
  </span>
  <p class="text-lg text-white font-semibold">
    {{ "app.inventory.text" | translate }}
  </p>
  <div class="absolute right-4 text-white">
    <span
      tabindex="0"
      *ngIf="canSignout()"
      (click)="logOut()"
      class="text-sm cursor-pointer hover:underline hover:font-bold"
    >
      {{ "app.log-out.text" | translate }}</span
    >
  </div>
</div>
