<div class="relative !flex w-full" mat-dialog-title>
  <p>{{ "app.overview.inventory.item.text" | translate }}</p>
  <span
    class="cursor-pointer absolute right-8 hover:shadow-sm"
    mat-dialog-close=""
    >x</span
  >
</div>

<div
  mat-dialog-content
  class="flex flex-col gap-3"
  [formGroup]="inventoryItemFormGroup"
>
 
  <mat-form-field class="w-full">
    <mat-label>{{ "app.overview.model.text" | translate }}</mat-label>
    <input matInput formControlName="model" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>{{ "app.overview.description.text" | translate }}</mat-label>
    <textarea matInput formControlName="description" placeholder=""></textarea>
  </mat-form-field>

  @if (!isToday()) {
  <mat-form-field class="w-full">
    <mat-label>Choose a date</mat-label>
    <input formControlName="addedAt" matInput [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  }
</div>

<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close="">
    {{ "app.cancel.text" | translate }}
  </button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="inventoryItemFormGroup.invalid"
    (click)="sendResult()"
  >
    {{ "app.save.text" | translate }}
  </button>
</div>
