<div class="w-full flex flex-col items-center justify-center">
  <div class="flex flex-col my-10 gap-3 w-full sm:w-[400px]">
    <p class="font-semibold text-lg w-full text-center">
      {{ "app.welcome.text" | translate }}
    </p>
    <mat-form-field>
      <mat-label>{{ "app.email.text" | translate }}</mat-label>
      <input matInput [formControl]="getControl('email')" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "app.password.text" | translate }}</mat-label>
      <input matInput type="password" [formControl]="getControl('password')" />
    </mat-form-field>

    <div class="">
      <mat-checkbox [color]="'primary'" [formControl]="getControl('isNewUser')">
        {{ "app.new-user.text" | translate }}
      </mat-checkbox>
    </div>

    <button
      class="sign-in-button"
      mat-flat-button
      color="primary"
      [disabled]="homeFormGroup.invalid"
      (click)="doOnLoginIn()"
    >
      {{
        (getControl("isNewUser").value ? "app.sign-up.text" : "app.log-in.text")
          | translate
      }}
    </button>
  </div>
</div>
