<div class="w-full h-full mb-20">
  <div class="flex w-full items-center justify-between py-4 px-4">
    <h1>{{ "app.overview.headline" | translate }}</h1>
    <button
      mat-fab
      (click)="openInventoryItem()"
      extended
      class="flex border px-2 border-gray-100 rounded items-center hover:shadow-sm"
    >
      <mat-icon>add</mat-icon>
      {{ "app.overview.add-new.item.text" | translate }}
    </button>
  </div>

  <div class="w-full" *ngIf="dataSource">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      aria-describedby="Inventory Overview"
    >
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "app.overview.model.text" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.model }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "app.overview.description.text" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="addedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "app.overview.added-at.text" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.addedAt | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          {{ "app.overview.actions.text" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            (click)="openInventoryItem(element)"
            class="flex items-center text-sm text-center rounded-full mr-3 cursor-pointer hover:shadow-sm hover:border"
            >edit</mat-icon
          >
          <mat-icon
            (click)="confirmDeletion(element)"
            class="flex items-center text-sm text-center rounded-full cursor-pointer hover:shadow-sm hover:border"
            >delete</mat-icon
          >
        </td>
      </ng-container>

      <tr
        class="!bg-gray-100"
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></tr>
      <tr
        class="odd:bg-white even:bg-gray-50"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
      aria-label="Select page of inventory"
    >
    </mat-paginator>
  </div>
  <span *ngIf="!inventoryItems || inventoryItems.length === 0">{{
    "app.overview.no.data.found" | translate
  }}</span>
</div>

<div class="flex flex-col mt-4" *ngIf="stats$ | async as report">
  @if (report.stats) {
  <span class="font-medium">{{ "app.overview.stats.text" | translate }}</span>
  <span
    >{{ "app.overview.inventory.count.text" | translate }}:
    {{ report.stats.total }}</span
  >
  <span
    >{{ "app.overview.inventory.deleted.text" | translate }}:
    {{ report.stats.deleted }}</span
  >
  <span
    >{{ "app.overview.inventory.added.text" | translate }}:
    {{ report.stats.added }}</span
  >
  }
</div>
