<div
  *ngIf="!hasToken()"
  class="flex px-4 py-4 gap-8 fixed w-full items-center bg-gray-100 z-40"
>
  <span>{{ "app.cookie.message.text" | translate }}</span>

  <div class="flex gap-4">
    <button mat-stroked-button (click)="declineCookie()">
      {{ "app.cookie.consent.no.text" | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="acceptCookie()">
      {{ "app.cookie.consent.yes.text" | translate }}
    </button>
  </div>
</div>
