<header class="w-full bg-gradient-to-r from-cyan-500 to-blue-500">
  <app-header></app-header>
</header>
<app-cookie></app-cookie>
<main class="w-full px-4 mb-20 h-full border border-gray-100">
  <router-outlet />
</main>

<footer
  class="w-full h-12 p-4 z-40 fixed bottom-0 opacity-100 bg-gradient-to-r from-cyan-500 to-blue-500"
>
  <a
    *ngIf="canResetCookieConsent()"
    href="/home"
    class="absolute left-4 text-white cursor-pointer hover:underline"
    tabindex="0"
    (click)="resetCookieConsent()"
    >{{ "app.cookie.update.text" | translate }}
  </a>
</footer>
